# Entornos virtuales
venv/
env/
.venv/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de VSCode (si usas VSCode)
.vscode/

# Archivos de prueba de coverage
htmlcov/
.coverage
.cache/

# Archivos de logs
*.log

# Otros
.DS_Store
