h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}

#options-container{
    width: 50%;
    background-color: rgb(53, 53, 53);
}

#options-dial{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(39, 39, 39);
}

#options-dial a{
    cursor: pointer;
    padding: 15px;
}

#options-dial a:hover{
    background-color: rgb(29, 29, 29);
}

#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#current-option-container{
    width: 100%;
    padding: 20px;
    display: flex;
}

#video-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 0px;
}

input{
    margin-top: 15px;
    max-width: 200px;
}

textarea{
    margin-top: 15px;
    max-width: 200px;
}

label{
    margin-top: 15px;
}

button{
    cursor: pointer;
    margin-top: 15px;
    max-width: 210px;
}

.file-input{
    display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 170px;
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: normal;
}

.custom-file-upload:hover {
  background-color: #4338ca;
}

#error-message{
    display: none;
    color: red;
    padding: 20px;
    margin-bottom: 0px;
}