#main-container{
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settings-container{
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
    background-color: rgb(36, 35, 35);
}

button{
    height: 50px;
    width: 90%;
    cursor: pointer;
}

#profile-image{
    width: 125px;
    height: 125px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

#file-input {
    display: none;
}

#save-button{
    max-width: 165px;
    height: 30px;
    background-color: rgb(108, 40, 172);
    border: none;
    border-radius: 10px;
    color: white;
}

#save-button:hover{
    background-color: blueviolet;
}

#cancel-button{
    max-width: 165px;
    height: 30px;
    background-color: rgb(172, 40, 40);
    border: none;
    border-radius: 10px;
    color: white;
}

#cancel-button:hover{
    background-color: rgb(226, 43, 43);
}

#delete-account{
    background-color: red;
}

#error{
    color: red;
    display: none;
}

#change-password-button{
    max-width: 165px;
    height: 30px;
    background-color: rgb(219, 152, 7);
    border: none;
    border-radius: 10px;
    color: white;
}

#private-account-input{
    cursor: pointer;
}

#change-privacity-button{
    max-width: 165px;
    height: 30px;
    background-color: rgb(88, 7, 219);
    border: none;
    border-radius: 10px;
    color: white;
}